            * {
        border-radius: 0 !important;
      }


      body{
  			padding-top: 0px;
  		}

      .main_container {
        padding: 0 !important;
        box-shadow: 0 0 15px 5px rgba(31, 73, 125, 0.8);
        -moz-box-shadow: 0 0 15px 5px rgba(31, 73, 125, 0.8);
        -webkit-box-shadow: 0 0 15px 5px rgba(31, 73, 125, 0.8);
        -o-box-shadow: 0 0 15px 5px rgba(31, 73, 125, 0.8);
      }

      .header-logo{
        font-family: rancho;
        padding: 20px;
      }

      .header-logo h2{
        font-size: 50px;
      }

      .social {
        padding: 20px;
      }

  		.jumbotron{
  			background-image: url("https://source.unsplash.com/cckf4TsHAuw/");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
  		}

  		.jumbotron h1{
  			color: orange;
  			font-family: rancho;
  		}

  		.jumbotron p{
  			color: #fff;
  		}

      .main_body{
        padding-right: 20px;
        padding-left: 20px;
      }

      .post_title{
        font-weight: bold;
      }

      .post_author{
        font-style: italic;
        color: #BFBFBF;
      }

      .post_date{
        font-style: italic;
        color: red;
      }

     .post_pagination{
      padding-top: 20px;
     }

      .post{
        padding-bottom: 20px;
      }


      .footer{
        padding: 20px;
        background-color: #2574A9;
        text-align: center;
        font-size: large;
      }

      .sidebar{
        padding: 5px;
      }

      .sidebar_social{
        background-color: #ECF0F1;
        padding: 20px;
        margin-right: 10px;
        margin-bottom: 20px;
      }

      .sidebar_search{
        background-color: #ECF0F1;
        padding: 20px;
        margin-right: 10px;
      }

      .sidebar_recent_posts {
        background-color: #ECF0F1;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        margin-right: 10px;
        margin-top: 20px;
      }

      .sidebar_subscribe {
        background-color: #ECF0F1;
        padding: 20px;
        margin-right: 10px;
        margin-top: 20px;
      }

       .sidebar_login {
        background-color: #ECF0F1;
        padding: 20px;
        margin-right: 10px;
        margin-top: 20px;
      }

      .comments {
        padding-bottom: 30px;
      }